html {
	height: 100%;
	margin: 0;
    padding: 0;
	background-image: url("pic1.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	
}
body {
	height: 100%;
    margin: 0;
    padding: 0;  
}
.login-card-container {
	margin: 4em 4em 4em 2em;
	text-align: center;
}
.login-card {
	display: inline-block;
	border-radius: 1em;
	width: 20em;
	height: 25em;
	margin-left: 20px;
}
.login-title {
	margin: 1em;
	color: rgba(96,102,172,1);
}
.login-button-container {
	margin-top: 1.3em;
}