.navbar {
	border-radius: 0em 0em 1em 1em;
	position: sticky; top: 0;
	background-color: WhiteSmoke;
	padding: 1em;
	box-shadow: 0em .5em 2em rgba(107, 107, 107, 0.59);
}
.nav-btn {
	color: #312742;
	text-decoration: none;
	background-color: transparent;
	border-radius: 1em;
	padding: .5em;
	transition: all .2s ease;
}
.nav-btn-right {
	color: #312742;
	text-decoration: none;
	background-color: transparent;
	border-radius: 1em;
	padding: .5em;
	transition: all .2s ease;
	float: right;
}
.nav-btn:hover {
	color: #7f65ab;
	background-color: #ededed;
}